<!-- nav.html -->

{% extends "app2/base.html" %}
{% block app_nav %}
<div class="top-margin"></div>
<nav class="nav">
    <div>
        <a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
            <i class="material-icons">home</i> Главная
        </a>
        <a href="{% url 'program_list' %}" class="nav-link {% if '/app1/' in request.path %}active{% endif %}">
            <i class="material-icons">school</i> Я и моя образовательная программа
        </a>
        <a href="{% url 'page_list' %}" class="nav-link {% if '/app2/' in request.path %}active{% endif %}">
            <i class="material-icons">person_outline</i> Я и мое обучение в Вышке
        </a>
    </div>
    <div>
        <a href="{% url 'admin:index' %}" class="nav-link admin-link" target="_blank">
            <i class="material-icons">admin_panel_settings</i>
        </a>
    </div>
</nav>
{% endblock %}
